:root {
  /* MENU */
  --body-base-color: #000000;
  --menu-logo-1-part: #2196f3;
  --menu-logo-2-part: #000000;
  --menu-nav: #212121;
  --menu-contact-links: #757575;
  --menu-highlight: #2196f3;
  --menu-border: #ececec;
  --heading: #212121;

  /* LEAD */
  --lead-background: rgba(47, 48, 58, 0.4);
  --lead-text: #ffffff;
  --lead-button: #2196f3;
  --lead-button-shadow: rgba(0, 0, 0, 0.15);

  /* BACKDROP */
  --modal-background: rgba(0, 0, 0, 0.2);
  --modal-window: #ffffff;

  /* ADVANTAGES */
  --advantages-background: #f5f4fa;
  --advantages-heading: #212121;
  --advantages-text: #757575;

  /* OUR TEAM */
  --our-team-heading: #212121;
  --our-team-text: #757575;
  --out-team-background: #f5f4fa;
  --our-team-card-background: #ffffff;

  /* ICONS */
  --icon: #afb1b8;
  --icon-highlight: #ffffff;
  --icon-highlight-background: #2196f3;

  /* FILTERS */
  --filters-button-text: #212121;
  --filters-button-background: #f5f4fa;
  --filters-button-highlight-background: #2196f3;
  --filters-button-highlight-text: #ffffff;

  /* PROJECTS */
  --projects-heading: #212121;
  --projects-text: #757575;
  --projects-background: #ffffff;
  --projects-border: #eeeeee;
  --projects-overlay-text: #ffffff;
  --projects-overlay-background: rgba(33, 150, 243, 0.9);

  /* FOOTER */
  --footer-logo-1-part: #2196f3;
  --footer-logo-2-part: #ffffff;
  --footer-background: #2f303a;
  --footer-address: #ffffff;
  --footer-address-links: rgba(255, 255, 255, 0.6);
  --footer-address-links-highlight: #2196f3;
  --footer-social-links-item-backround: rgba(255, 255, 255, 0.1);
  --footer-social-links-item-highlight: #ffffff;
  --footer-social-links-item-highlight-backround: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--body-base-color);
  font-size: 16px;
  position: relative;
}

section {
  padding: 94px 0;
}

/*===== CONTAINER =====*/

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
}

/*===== LOGO =====*/

header.menu > div > a.logo,
footer > div > a.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.19;
  letter-spacing: 0.03rem;
}

header.menu > div > a.logo span {
  color: var(--menu-logo-1-part);
}

footer > div > a.logo span {
  color: var(--footer-logo-1-part);
}

footer > div > a.logo {
  color: var(--footer-logo-2-part);
  text-decoration: none;
}

/*===== NAV =====*/

header {
  border-bottom: 1px solid var(--menu-border);
}

.menu > div {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.menu > div > nav {
  flex-grow: 1;
}

.menu > div :nth-child(3) {
  margin-right: 30px;
}

.menu > div > nav ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 93px;
}

.menu > div > nav ul li {
  display: inline;
  min-width: 300px;
}

.menu > div > nav ul li a {
  color: var(--menu-nav);
}

.menu > div > nav ul li:nth-child(2) {
  margin: 0 46px;
}

.menu > div > nav ul li a:focus,
.menu > div > nav ul li a:hover,
.menu > div > nav ul li a:active {
  color: var(--menu-highlight);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer > a,
.menu > div a {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.14;
  letter-spacing: 0.02rem;
  color: var(--menu-logo-2-part);
  text-decoration: none;
}

.menu > div > :nth-child(n + 3) {
  color: var(--menu-contact-links);
  text-align: right;
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu > div > a:hover > svg > use {
  fill: var(--menu-highlight);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu > div > :nth-child(n + 2):focus,
.menu > div > :nth-child(n + 2):hover,
.menu > div > :nth-child(n + 2):active {
  color: var(--menu-highlight);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail {
  width: 16px;
  height: 12px;
  background-position: -48px -48px;
  fill: var(--menu-contact-links);
  margin-right: 10px;
  top: 50%;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  background-position: -144px -48px;
  fill: var(--menu-contact-links);
  margin-right: 10px;
}

.menu nav ul li a.active {
  color: var(--menu-highlight);
  position: relative;
}

.active::after {
  content: "";
  display: block;
  background-color: var(--menu-highlight);
  height: 4px;
  width: 100%;
  position: absolute;
  top: 45px;
  left: 0px;
  border-radius: 2px;
}

/*===== LEAD =====*/

section.lead {
  margin: 0 auto;
  background-image: linear-gradient(
      to bottom,
      var(--lead-background),
      var(--lead-background)
    ),
    url("../images/BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lead {
  height: 600px;
  display: flex;
  align-items: center;
}

.lead h1 {
  font-weight: 900;
  font-size: 2.75rem;
  line-height: 1.36;
  color: var(--lead-text);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.24rem;
  margin: 30px 0;
  max-width: 696px;
}

.lead button {
  background-color: var(--lead-button);
  color: var(--lead-text);
  width: 200px;
  height: 50px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.875;
  display: block;
  letter-spacing: 0.06rem;
  box-shadow: 0px 4px 4px var(--lead-button-shadow);
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
}

/*===== NASZE ATUTY =====*/

.advantages {
  margin: 0 auto;
  padding-bottom: 0px;
}

.advantages ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.advantages ul li {
  width: 270px;
}

.advantages ul li:not(:last-child) {
  margin-right: 30px;
}

.advantages-icon-container {
  width: 270px;
  height: 120px;
  background-color: var(--advantages-background);
  border-radius: 4px;
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages ul li h3 {
  font-weight: 700;
  font-size: 0.875em;
  line-height: 1.14;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  width: 270px;
  text-align: left;
}

.advantages ul li p {
  font-size: 0.875em;
  line-height: 1.71;
  letter-spacing: 0.03rem;
  width: 270px;
  text-align: justify;
  color: var(--advantages-text);
  margin: 0;
}

.icon-antenna {
  width: 70px;
  height: 70px;
  background-position: -624px 0;
}
.icon-astronaut {
  width: 70px;
  height: 70px;
  background-position: -672px 0;
}
.icon-clock {
  width: 70px;
  height: 70px;
  background-position: -720px 0;
}
.icon-diagram {
  width: 70px;
  height: 70px;
  background-position: 0 -48px;
}

/*===== CZYM SIĘ ZAJMUJEMY =====*/

.what-we-do {
  clear: both;
  text-align: center;
}

.what-we-do h2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading);
  margin-top: 0px;
}

.what-we-do img {
  margin: 12px;
  width: 370px;
  height: 294px;
}

.what-we-do ul {
  list-style: none;
  padding: 0;
}

.what-we-do ul li {
  display: inline-block;
}

/*===== NASZ ZESPÓŁ =====*/

.our-team {
  background: var(--out-team-background);
  text-align: center;
}

.our-team h2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading);
  margin-top: 0px;
}

.our-team ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.our-team ul li {
  width: 270px;
  height: 428px;
  float: left;
  background: var(--our-team-card-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 15px;
}

.our-team ul li img {
  width: 270px;
  height: 260px;
}

.our-team ul li figure {
  width: 270px;
  text-align: center;
  margin: 0;
}

.our-team ul li figure figcaption {
  font-size: 1rem;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--our-team-text);
}

.our-team ul li figure figcaption b {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875;
  display: block;
  letter-spacing: 0.03em;
  color: var(--our-team-heading);
  padding: 15px;
}

/*===== SOCIAL LINKS =====*/

.social-links {
  max-width: 206px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

.social-links-item {
  width: 44px;
  height: 44px;
  background-color: inherit;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon);
}

.icon-facebook {
  width: 20px;
  height: 20px;
  background-position: -432px 0;
}
.icon-instagram {
  width: 20px;
  height: 20px;
  background-position: -480px 0;
}
.icon-linkedin {
  width: 20px;
  height: 20px;
  background-position: -528px 0;
}
.icon-twitter {
  width: 20px;
  height: 20px;
  background-position: -576px 0;
}

.social-links-item:hover {
  background-color: var(--icon-highlight-background);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-item:hover svg use {
  fill: var(--icon-highlight);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*===== NASI KLIENCI =====*/

.customers {
  text-align: center;
}

.customers h2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading);
  margin-top: 0px;
}

.customers ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.customers ul li {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon);
  border-radius: 4px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers ul li:not(:last-child) {
  margin-right: 30px;
}

.icon-logo1 {
  width: 41px;
  height: 46.7px;
  background-position: 0 0;
  fill: var(--icon);
}
.icon-logo2 {
  width: 40px;
  height: 52px;
  background-position: -48px 0;
  fill: var(--icon);
}
.icon-logo3 {
  width: 43.46px;
  height: 41.18px;
  background-position: -96px 0;
  fill: var(--icon);
}
.icon-logo4 {
  width: 84.44px;
  height: 40.62px;
  background-position: -144px 0;
  fill: var(--icon);
}
.icon-logo5 {
  width: 62.54px;
  height: 45.43px;
  background-position: -240px 0;
  fill: var(--icon);
}
.icon-logo6 {
  width: 93.79px;
  height: 43.93px;
  background-position: -336px 0;
  fill: var(--icon);
}

.customers ul li:hover {
  border: 1px solid var(--icon-highlight-background);
  cursor: pointer;
  box-shadow: 0 0 3px var(--icon-highlight-background);
  transition: box-shadow, border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers ul li:hover svg use {
  fill: var(--icon-highlight-background);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*===== FILTERS =====*/

.filters {
  display: flex;
}

.filters button {
  font-family: "Roboto";
  background: var(--filters-button-background);
  border-radius: 4px;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--filters-button-text);
  padding: 5px 25px;
  margin: 4px;
  border: none;
  cursor: pointer;
}

.filters button:focus,
.filters button:hover {
  background: var(--filters-button-highlight-background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--filters-button-highlight-text);
  transition: box-shadow, color,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*===== PROJECTS =====*/

.projects {
  margin-top: -140px;
}

.projects ul {
  list-style: none;
  padding: 0;
  margin-left: -20px;
  margin-top: -20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-box {
  width: 370px;
  height: 294px;
  overflow: hidden;
  position: relative;
}

.projects figure {
  margin: 0 auto;
}

.projects ul li {
  float: left;
  background: var(--projects-background);
  border: 1px solid var(--projects-border);
  margin-left: 20px;
  margin-top: 20px;
}

.projects ul li figure img {
  width: 370px;
  height: 294px;
}

.project-overlay {
  width: 370px;
  height: 294px;
  background-color: var(--projects-overlay-background);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-overlay p {
  width: 301px;
  height: 196px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--projects-overlay-text);
}

.projects ul li figure h3 {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--projects-heading);
  margin: 0 0 10px 0;
}

.projects ul li figure figcaption {
  font-size: 1rem;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--projects-text);
  margin: 15px auto 0 auto;
}

.projects figcaption {
  width: 322px;
  height: 95px;
}

.projects ul li:active,
.projects ul li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects figure:hover .project-overlay {
  transform: translatey(0);
}

/*===== FOOTER =====*/

footer {
  height: 252px;
  background-color: var(--footer-background);
  color: var(--footer-address);
}

footer a.logo {
  font-size: 1.625rem;
  line-height: 1.19;
  padding-top: 50px;
  float: left;
  margin-bottom: 10px;
}

footer address {
  width: 246px;
  height: auto;
  margin-bottom: 60px;
  letter-spacing: 0.03em;
  font-size: 0.875rem;
  line-height: 2.11;
  clear: left;
  font-style: normal;
  margin: 0;
  float: left;
}

.social {
  width: 206px;
  height: 80px;
  float: left;
  margin: -50px auto 0 100px;
}

.social h4 {
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-address);
}

footer address a:visited,
footer address a {
  text-decoration: none;
  color: var(--footer-address-links);
}

footer address a:active,
footer address a:focus,
footer address a:hover {
  color: var(--footer-address-links-highlight);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-item-footer {
  width: 44px;
  height: 44px;
  background-color: inherit;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--footer-social-links-item-highlight);
  background-color: var(--footer-social-links-item-backround);
}

.social-links-item-footer:hover {
  background-color: var(--footer-social-links-item-highlight-backround);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*===== BACKDROP =====*/

.backdrop {
  background: var(--modal-background);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--modal-window);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--modal-window);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
