html {
  margin: 0;
}

:root {
  --blue: #2196f3;
  --black: #212121;
  --light-grey: #f5f4fa;
  --grey: #757575;
  --dark-grey: #2f303a;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--black);
  font-size: 16px;
}

/* Logo */

div.menu > a.logo {
  margin: 24.5px 10.71% 24.5px 2.67%;
}

footer > a.logo {
  color: var(--white);
}

footer > a.logo,
div.menu > a.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.9375rem;
  letter-spacing: 0.03rem;
}

footer > a.logo span,
div.menu > a.logo span {
  color: var(--blue);
}

/* Nav */

.menu {
  width: auto;
  height: 80px;
  border: 1px solid #ececec;
  padding: 0px 15%;
}

.menu nav ul {
  list-style: none;
  display: inline;
  padding: 0;
}

.menu nav ul li {
  display: inline;
}

.menu nav ul li a {
  margin: 32px 2.23%;
}

footer > a,
.menu a {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.02rem;
  color: var(--black);
  text-decoration: none;
  float: left;
}

div.menu > :nth-child(3) {
  margin: 32px 2.67%;
  color: var(--grey);
  float: right;
}
div.menu > :nth-child(4) {
  color: var(--grey);
  margin: 32px 2.67%;
  float: right;
}

/* szerokosci 405 127 103 255 348 362*/
/* szerokosci 25,32 7,94 6,43 15,93 21,75 22,63 = 100 */
/* szerokosci 1120  */

.menu a:visited {
  color: var(--black);
}

footer > a:active,
footer > a:hover,
footer > a:focus,
.menu a:active,
.menu a:hover,
.menu a:focus {
  color: var(--blue);
}

/* Header */

.header {
  width: auto;
  height: 600px;
  background-color: var(--dark-grey);
}

.header div {
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding-top: 200px;
}

.header h1 {
  font-weight: 900;
  font-size: 2.75rem;
  line-height: 3.75rem;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06rem;
}

.header button {
  background-color: var(--blue);
  color: var(--white);
  width: 200px;
  height: 50px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.875rem;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
}

/* Nasz atuty */

.advantages {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 50px;
  height: 200px;
}

.advantages ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
}

.advantages ul li {
  margin: 20px;
  display: block;
  float: left;
  padding: 0;
  position: relative;
  right: 50%;
}

.advantages ul li h3 {
  font-weight: 700;
  font-size: 0.875em;
  line-height: 1rem;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  width: 270px;
  text-align: left;
}

.advantages ul li p {
  font-size: 0.875em;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  width: 270px;
  text-align: justify;
  color: var(--grey);
  margin: 0;
}

/* Czym się zajmujemy */

.what-we-do {
  padding: 40px 0;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.what-we-do h2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
}

.what-we-do img {
  margin: 15px;
}

.what-we-do ul {
  display: block;
  list-style: none;
  padding: 0;
}

.what-we-do ul li {
  display: inline;
}

/* Nasz zespół */

.our-team {
  background: var(--light-grey);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.our-team h2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  padding-top: 94px;
}

.our-team ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.our-team ul li {
  display: inline;
  width: 270px;
  height: 368px;
  float: left;
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0px 15px 90px 15px;
}

.our-team ul li figure {
  display: inline;
  width: 270px;
  height: 368px;
  text-align: center;
  margin: 0;
}

.our-team ul li figure figcaption {
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.our-team ul li figure figcaption b {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  display: block;
  letter-spacing: 0.03em;
  color: var(--black);
  padding: 15px;
}

/* Footer */

footer {
  height: 252px;
  background-color: var(--dark-grey);
  color: var(--white);
  padding-left: 220px;
}

footer a.logo {
  font-size: 1.625rem;
  padding-top: 50px;
  float: left;
  margin-bottom: 10px;
}

footer address {
  margin-bottom: 60px;
  letter-spacing: 0.03em;
  font-size: 0.875rem;
  line-height: 1.5rem;
  clear: left;
  line-height: 30px;
}

footer address a:visited,
footer address a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

footer address a:active,
footer address a:focus,
footer address a:hover {
  color: var(--blue);
}

/* Filters */

.filters {
  width: 672px;
  height: 54px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.filters button {
  font-family: "Roboto";
  background: var(--light-grey);
  border-radius: 4px;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.66rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  padding: 5px 25px;
  margin: 4px;
  border: none;
  cursor: pointer;
}

.filters button:focus,
.filters button:hover {
  background: var(--blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white);
}

/* Portfolio */

.portfolio {
  margin-left: auto;
  margin-right: auto;
}

.portfolio ul {
  list-style: none;
  display: block;
  width: 1230px;
  height: 1420px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.portfolio figure {
  margin: auto;
}

.portfolio ul li {
  display: inline;
  float: left;
  width: 370px;
  height: 404px;
  background: var(--white);
  border: 1px solid #eeeeee;
  margin: 15px;
}

.portfolio ul li figure h3 {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 2rem;
  letter-spacing: 0.06em;
  color: var(--black);
  margin: 0 0 10px 0;
}

.portfolio ul li figure figcaption {
  font-size: 1rem;
  line-height: 1.9rem;
  letter-spacing: 0.03em;
  color: var(--grey);
  margin: 15px auto 0 auto;
}

.portfolio figcaption {
  width: 322px;
  height: 95px;
}
