





/* Footer */

footer {
  width: 100%;
  height: 252px;
  background-color: #2f303a;
  color: #FFFFFF;
}

footer a {
  font-size: 26px;
}

footer address {
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 215px;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 24px;
}