/* MENU */
.nav {
  width: 300px;
}

.customers {
  text-align: center;
}
.customers__header {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading);
  margin-top: 0px;
}
.customers__list {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.customers__item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon);
  border-radius: 4px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow, border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects {
  margin-top: -140px;
}

.project-grid {
  list-style: none;
  padding: 0;
  margin-left: -20px;
  margin-top: -20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project-grid__item {
  float: left;
  background: var(--projects-background);
  border: 1px solid var(--projects-border);
  margin-left: 20px;
  margin-top: 20px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project {
  margin-top: -140px;
}
.project__box {
  width: 370px;
  height: 294px;
  overflow: hidden;
  position: relative;
}
.project__image {
  width: 370px;
  height: 294px;
}
.project__overlay {
  width: 370px;
  height: 294px;
  background-color: var(--projects-overlay-background);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__description {
  width: 301px;
  height: 196px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--projects-overlay-text);
}
.project__figcaption {
  width: 322px;
  height: 95px;
  font-size: 1rem;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--projects-text);
  margin: 15px auto 0 auto;
}
.project__header {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--projects-heading);
  margin: 0 0 10px 0;
}

.footer {
  height: 252px;
  background-color: var(--footer-background);
  color: var(--footer-address);
}
.footer__address {
  width: 246px;
  height: auto;
  margin-bottom: 60px;
  letter-spacing: 0.03em;
  font-size: 0.875rem;
  line-height: 2.11;
  clear: left;
  font-style: normal;
  margin: 0 0 0 15px;
  float: left;
}
.footer__contact {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us {
  width: 206px;
  height: 80px;
  float: left;
  margin: -50px auto 0 70px;
}
.join-us__header {
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-address);
}
.join-us__list {
  max-width: 206px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}
.join-us__item {
  width: 44px;
  height: 44px;
  background-color: inherit;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--footer-social-links-item-highlight);
  background-color: var(--footer-social-links-item-backround);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-us__icon {
  display: inline-block;
}
.newsletter {
  float: left;
  margin: -50px auto 0 78px;
}
.newsletter__header {
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-address);
}
.newsletter__input {
  width: 358px;
  height: 50px;
  border: 1px solid var(--newsletter-border);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--newsletter-mail);
  padding: 15px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__btn {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  color: var(--newsletter-button-text);
  background: var(--newsletter-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.875rem;
  letter-spacing: 0.06em;
  border: none;
  padding: 0 28px 0 42px;
  position: relative;
  text-align: left;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__icon {
  width: 24px;
  height: 24px;
  fill: var(--newsletter-button-text);
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=main.css.map */