.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #000000;
  font-size: 16px;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section {
  padding: 94px 0;
}

.project__overlay, .filters, .customers__item, .advantages__grid, .lead, .modal__close-btn, .join-us__item, .social-links__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.9375rem;
  letter-spacing: 0.03rem;
  text-decoration: none;
  color: #000000;
}
.logo--span {
  color: #2196f3;
}

.footer__logo {
  color: #ffffff;
  font-size: 1.625rem;
  line-height: 1.9375rem;
  padding-top: 50px;
  float: left;
  margin-bottom: 10px;
  margin-left: 15px;
}

.nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.nav__list {
  list-style: none;
  padding: 0;
  margin: 0 0 0 93px;
}
.nav__item {
  display: inline;
  min-width: 18.75rem;
}
.nav__item:nth-child(2) {
  margin: 0 46px;
}
.nav__link {
  color: #212121;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.02em;
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
.nav__link--active {
  color: #2196f3;
  position: relative;
}
.nav__link--active::after {
  content: "";
  display: block;
  background-color: #2196f3;
  height: 4px;
  width: 100%;
  position: absolute;
  top: 45px;
  left: 0px;
  border-radius: 2px;
}

.icon--mail {
  width: 1rem;
  height: 0.75rem;
}

.icon--phone {
  width: 0.625rem;
  height: 1rem;
}

.btn {
  background-color: #2196f3;
  color: #ffffff;
  width: 200px;
  height: 50px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875;
  display: block;
  letter-spacing: 0.06rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.btn:hover, .btn:active {
  -webkit-box-shadow: 0px 0px 6px #2196f3;
          box-shadow: 0px 0px 6px #2196f3;
  outline: none;
}
.btn:active {
  -webkit-box-shadow: inset 0px 0px 6px #212121, 0px 0px 6px #2196f3;
          box-shadow: inset 0px 0px 6px #212121, 0px 0px 6px #2196f3;
}

.advantage {
  width: 270px;
  margin-right: 30px;
}
.advantage__icon-container {
  width: 16.875rem;
  height: 7.5rem;
  background-color: #f5f4fa;
  border-radius: 0.25rem;
  margin-bottom: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantage__header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875em;
  line-height: 1.14;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  width: 16.875rem;
  text-align: left;
}
.advantage__text {
  font-size: 0.875em;
  line-height: 1.71;
  letter-spacing: 0.03rem;
  width: 16.875rem;
  text-align: justify;
  color: #757575;
  margin: 0;
}
.advantage--last {
  margin: 0;
}
.advantage__icon {
  width: 4.375rem;
  height: 4.375rem;
}

@media screen and (min-width: 768px) {
  .advantage__icon-container {
    width: 22.125rem;
  }
  .advantage__header {
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 16.875rem;
    text-align: left;
  }
  .advantage__text {
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.03em;
    width: 22.125rem;
  }
}
@media screen and (min-width: 1200px) {
  .advantage {
    width: 270px;
    margin-right: 30px;
  }
  .advantage__icon-container {
    width: 16.875rem;
    height: 7.5rem;
    background-color: #f5f4fa;
    border-radius: 0.25rem;
    margin-bottom: 1.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantage__header {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.875em;
    line-height: 1.14;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    width: 16.875rem;
    text-align: left;
  }
  .advantage__text {
    font-size: 0.875em;
    line-height: 1.71;
    letter-spacing: 0.03rem;
    width: 16.875rem;
    text-align: justify;
    color: #757575;
    margin: 0;
  }
  .advantage--last {
    margin: 0;
  }
  .advantage__icon {
    width: 4.375rem;
    height: 4.375rem;
  }
}
.team-card {
  width: 270px;
  text-align: center;
  margin: 0;
}
.team-card__image {
  width: 270px;
  height: 260px;
}
.team-card__label {
  font-size: 1rem;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #757575;
}
.team-card__label--bold {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875;
  display: block;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 15px;
}

.social-links {
  max-width: 206px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
}
.social-links__box {
  width: 2.75rem;
  height: 2.75rem;
  background-color: inherit;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.social-links__box:hover {
  background-color: #2196f3;
}
.social-links__box:hover .social-links__use {
  fill: #ffffff;
}
.social-links__icon {
  width: 20px;
  height: 20px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.social-links__use {
  fill: #afb1b8;
}

.join-us {
  width: 206px;
  height: 80px;
  float: left;
  margin: -50px auto 0 70px;
}
.join-us__header {
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.join-us__item {
  width: 44px;
  height: 44px;
  background-color: inherit;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.join-us__item:hover {
  background-color: #2196f3;
}
.join-us__icon, .join-us__svg-use {
  width: 20px;
  height: 20px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.newsletter {
  float: left;
  margin: -50px auto 0 78px;
}
.newsletter__header {
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.newsletter__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.newsletter__input:active, .newsletter__input:focus {
  border: 1px solid #2196f3;
  outline: none;
}
.newsletter__icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  position: absolute;
  top: 50%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.newsletter__btn {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.875rem;
  letter-spacing: 0.06em;
  border: none;
  padding: 0 28px 0 42px;
  position: relative;
  text-align: left;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
  display: inline-block;
}

.backdrop {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  -webkit-transition-property: top;
  transition-property: top;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  -webkit-transition-property: left;
  transition-property: left;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.modal__header {
  margin-top: 40px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  letter-spacing: 0.03em;
}
.modal__label {
  display: block;
  font-size: 0.75rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 10px 40px;
  position: relative;
}
.modal__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 18px;
  height: 18px;
  fill: #212121;
  background-color: transparent;
  position: absolute;
  top: 35px;
  left: 12px;
}
.modal__input {
  display: block;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.modal__input:active, .modal__input:focus {
  border-color: #2196f3;
  outline: none;
}
.modal__input:active + .modal__icon, .modal__input:focus + .modal__icon {
  fill: #2196f3;
}
.modal__textarea {
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0.01em;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: vertical;
  padding: 12px 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.modal__textarea ::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea ::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea :-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea ::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea ::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:active, .modal__textarea:focus {
  border-color: #2196f3;
  outline: none;
}
.modal__agreement {
  text-align: center;
  margin: 0;
}
.modal__checkbox:checked + .modal__agreement-label::before {
  background-color: #2196f3;
  border: 1.5px solid #2196f3;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.modal__agreement-label {
  display: inline-block;
  margin: auto;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  color: #757575;
  cursor: pointer;
}
.modal__agreement-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1.5px solid black;
  border-radius: 2px;
  margin-right: 5px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-transition-property: background;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  position: relative;
  bottom: -2px;
}
.modal__agreement-link {
  color: #2196f3;
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.modal__close-btn:hover {
  -webkit-box-shadow: 1px 1px 3px #212121;
          box-shadow: 1px 1px 3px #212121;
}
.modal__close-btn:active {
  -webkit-box-shadow: inset 1px 1px 1px #212121, 1px 1px 3px #212121;
          box-shadow: inset 1px 1px 1px #212121, 1px 1px 3px #212121;
}
.modal .modal__btn {
  outline: none;
  margin: 30px auto 40px auto;
  border: none;
}
.modal .modal__btn--close {
  width: 18px;
  height: 18px;
  fill: #212121;
}

.menu {
  border-bottom: 1px solid #ececec;
}
.menu__contact {
  text-decoration: none;
  color: #757575;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.menu__contact--end {
  margin-left: 30px;
}
.menu__contact:hover {
  color: #2196f3;
}
.menu__contact:hover .menu__icon {
  fill: #2196f3;
}
.menu__icon {
  fill: #757575;
  margin-right: 10px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.lead {
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/BG.jpg");
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 25rem;
}
.lead__header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.625rem;
  line-height: 2.625rem;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 30px 0;
  max-width: 22.8125rem;
}

@media screen and (min-width: 768px) {
  .lead__header {
    font-size: 1.625rem;
  }
}
@media screen and (min-width: 1200px) {
  .lead {
    height: 37.5rem;
  }
  .lead__header {
    font-size: 2.75rem;
    line-height: 3.75rem;
    max-width: 43.5rem;
  }
}
.what-we-do {
  clear: both;
  text-align: center;
  padding: 94px 0;
}
.what-we-do__header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0px;
  margin-bottom: 50px;
}
.what-we-do__grid {
  list-style: none;
  padding: 0;
  font-size: 0;
}
.what-we-do__item {
  display: inline-block;
  margin-right: 30px;
}
.what-we-do__item--last {
  margin: 0;
}
.what-we-do__box {
  position: relative;
  width: 370px;
  height: 294px;
}
.what-we-do__image {
  background-size: cover;
}
.what-we-do__label {
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 370px;
  height: 70px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  padding-top: 27px;
}

.advantages {
  margin: 0 auto;
  padding-bottom: 0px;
}
.advantages__grid {
  list-style: none;
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-team {
  background: #f5f4fa;
  text-align: center;
}
.our-team__header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0px;
  margin-bottom: 35px;
}
.our-team__grid {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.our-team__item {
  width: 270px;
  height: 428px;
  float: left;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 15px;
}

.customers {
  text-align: center;
  padding: 94px 0;
}
.customers__header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0px;
  margin-bottom: 50px;
}
.customers__list {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.customers__item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  float: left;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-transition-property: border;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  margin-right: 30px;
}
.customers__item--last {
  margin: 0;
}
.customers__item:hover {
  border: 1px solid #2196f3;
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px #2196f3;
          box-shadow: 0 0 3px #2196f3;
}
.customers__item:hover .customers__icon {
  fill: #2196f3;
}
.customers__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
  padding: 5px;
}

.footer {
  height: 252px;
  background-color: #2f303a;
  color: #ffffff;
}
.footer__address {
  width: 246px;
  height: auto;
  margin-bottom: 60px;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.875rem;
  clear: left;
  font-style: normal;
  margin: 0 0 0 15px;
  float: left;
}
.footer__contact {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.03em;
  font-size: 0.875rem;
  line-height: 1.875rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.footer__contact:hover {
  color: #2196f3;
}

.filters__btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  background: #f5f4fa;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.625rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 5px 25px;
  margin: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-transition-property: color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.filters__btn:focus, .filters__btn:hover {
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.projects {
  margin-top: -140px;
}

.project-grid {
  list-style: none;
  padding: 0;
  margin-left: -20px;
  margin-top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.project-grid__item {
  float: left;
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-left: 20px;
  margin-top: 20px;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.project-grid__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.project-grid__item:hover .project__overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.project {
  margin: 0 auto;
}
.project__box {
  width: 370px;
  height: 294px;
  overflow: hidden;
  position: relative;
}
.project__image {
  width: 370px;
  height: 294px;
  display: inline-block;
}
.project__overlay {
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.project__description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 301px;
  height: 196px;
  letter-spacing: 0.03em;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #ffffff;
}
.project__figcaption {
  width: 322px;
  height: 95px;
  font-size: 1rem;
  line-height: 1.875rem;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 15px auto 0 auto;
}
.project__header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2.25rem;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 0 0 10px 0;
}/*# sourceMappingURL=main.css.map */