// UTILS
@import "utils/variables";
@import "utils/visually-hidden";
@import "utils/colors";

// BASE
@import "base/common";

// COMPONENTS
@import "components/logo";
@import "components/nav";
@import "components/btn";
@import "components/advantage";
@import "components/team-card";
@import "components/social-links";
@import "components/join-us";
@import "components/newsletter";
@import "components/modal";

// LAYOUT
@import "layout/menu";
@import "layout/lead";
@import "layout/what-we-do";
@import "layout/advantages";
@import "layout/our-team";
@import "layout/customers";
@import "layout/footer";

// PAGES
@import "pages/filters";
@import "pages/projects";
@import "pages/project";
