.advantages {
  margin: 0 auto;
  padding-bottom: 0px;
  
  &__grid {
    list-style: none;
    margin: 0;
    padding: 0;
    @extend %setFlex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  .advantages {
    padding-bottom: 45px;
  }
}

