.customers {
  text-align: center;
  padding: 94px 0;
  &__header {
    @include text(700);
    font-size: pxToRem(36);
    line-height: pxToRem(42);
    text-align: center;
    letter-spacing: 0.03em;
    color: getColor("heading");
    margin-top: 0px;
    margin-bottom: 50px;
  }
  &__list {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  &__item {
    width: 170px;
    height: 92px;
    border: 1px solid getColor("icon");
    border-radius: 4px;
    float: left;
    @extend %setFlex;
    transition: box-shadow, border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 30px;
    &--last {
      margin: 0;
    }
    &:hover {
      border: 1px solid getColor("icon-highlight-background");
      cursor: pointer;
      box-shadow: 0 0 3px getColor("icon-highlight-background");

      & .customers__icon {
        fill: getColor("icon-highlight-background");
      }
    }
  }

  &__icon {
    width: 106px;
    height: 60px;
    fill: getColor("icon");
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 5px;
  }
}
