.menu {
  border-bottom: 1px solid getColor('menu-border');
  &__contact {
    text-decoration: none;
    color: getColor('menu-contact-links');
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: center;
    @include text(500);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    @include transition(color);
    &--end {
      margin-left: 30px;
    }
    &:hover {
      color: getColor('menu-highlight');
      & .menu__icon {
        fill: getColor('menu-highlight');
      }
    }
  }
  &__icon {
    fill: getColor('menu-contact-links');
    margin-right: 10px;
    @include transition(fill);
  }
}
