.our-team {
  background: getColor("out-team-background");
  text-align: center;
  &__header {
    @include text(700);
    font-size: pxToRem(36);
    line-height: pxToRem(42);
    text-align: center;
    letter-spacing: 0.03em;
    color: getColor("heading");
    margin-top: 0px;
    margin-bottom: 35px;
  }
  &__grid {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  &__item {
    width: 270px;
    height: 428px;
    float: left;
    background: getColor("our-team-card-background");
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 15px;
  }
}
