.advantage {
  width: pxToRem(450);
  height: pxToRem(226);
  margin-bottom: pxToRem(30);
  &__icon-container {
    width: pxToRem(450);
    height: pxToRem(120);
    background-color: getColor("advantages-background");
    border-radius: pxToRem(4);
    margin-bottom: pxToRem(30);
    @extend %setFlex;
  }
  &__header {
    @include text(700);
    font-size: pxToRem(14);
    line-height: pxToRem(16);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: inherit;
    text-align: center;
    margin: 0 auto;
    margin-bottom: pxToRem(10);
  }
  &__text {
    font-size: pxToRem(14);
    line-height: pxToRem(24);
    letter-spacing: 0.03em;
    width: inherit;
    text-align: justify;
    color: getColor("advantages-text");
    margin: 0;
  }

  &__icon {
    width: pxToRem(70);
    height: pxToRem(70);
  }
}

// Media fot tablet

@media screen and (min-width: 768px) {
  .advantage {
    width: pxToRem(354);
    height: pxToRem(251);
    margin-bottom: 0;
    &__icon-container {
      width: pxToRem(354);
    }
    &__header {
      font-size: pxToRem(14);
      line-height: pxToRem(16);
      text-transform: uppercase;
      text-align: left;
      margin: 30px auto 10px 0;
    }
    &:nth-child(odd) {
      margin-right: 30px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantage {
    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 30px;
    }
  }
}

// Media for desktop

@media screen and (min-width: 1200px) {
  .advantage {
    width: pxToRem(270);
    height: pxToRem(251);
    margin-right: 30px;
    margin-bottom: 0;
    &__icon-container {
      width: pxToRem(270);
      background-color: getColor("advantages-background");
      border-radius: pxToRem(4);
      margin-bottom: pxToRem(30);
    }
    &__header {
      @include text(700);
      text-transform: uppercase;
      text-align: left;
    }
    &__text {
      text-align: justify;
      color: getColor("advantages-text");
      margin: 0;
    }
    &:last-child {
      margin: 0;
    }

    &__icon {
      width: pxToRem(70);
      height: pxToRem(70);
    }
  }
}
