.join-us {
  width: 206px;
  height: 80px;
  display: block;
  text-align: center;
  margin: 60px auto;
  &__header {
    font-size: pxToRem(14);
    line-height: pxToRem(16);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor("footer-address");
  }

  &__item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    @extend %setFlex;
    fill: getColor("footer-social-links-item-highlight");
    background-color: getColor("footer-social-links-item-backround");
    @include transition(background-color);
    &:hover {
      background-color: getColor("icon-highlight-background");
    }
  }
  &__icon,
  &__svg-use {
    width: 20px;
    height: 20px;
    @include transition(fill);
  }
}

// MEDIA FOR TABLET

@media screen and (min-width: 768px) {
  .join-us {
    width: 206px;
    height: 80px;
    float: left;
    margin: -120px 0 0 450px;
    &__header {
      margin: 0;
    }
  }
}

// MEDIA FOR DESKTOP

@media screen and (min-width: 1200px) {
  .join-us {
    width: 206px;
    height: 80px;
    float: left;
    margin-left: 350px;
    text-align: left;
  }
}
