.join-us {
  width: 206px;
  height: 80px;
  float: left;
  margin: -50px auto 0 70px;
  &__header {
    font-size: pxToRem(14);
    line-height: pxToRem(16);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor("footer-address");
  }

  &__item {
    width: 44px;
    height: 44px;
    background-color: inherit;
    border-radius: 50%;
    @extend %setFlex;
    fill: getColor("footer-social-links-item-highlight");
    background-color: getColor("footer-social-links-item-backround");
    @include transition(background-color);
    &:hover {
      background-color: getColor("icon-highlight-background");
    }
  }
  &__icon,
  &__svg-use {
    width: 20px;
    height: 20px;
    @include transition(fill);
  }
}
