.nav {
  flex-grow: 1;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0 0 0 93px;
  }
  &__item {
    display: inline;
    min-width: pxToRem(300);
    &:nth-child(2) {
      margin: 0 46px;
    }
  }
  &__link {
    color: getColor('menu-nav');
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include text(500);
    font-size: pxToRem(14);
    line-height: pxToRem(16);
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
      color: getColor('menu-highlight');
    }

    &--active {
      color: getColor('menu-highlight');
      position: relative;

      &::after {
        content: "";
        display: block;
        background-color: getColor('menu-highlight');
        height: 4px;
        width: 100%;
        position: absolute;
        top: 45px;
        left: 0px;
        border-radius: 2px;
      }
    }
  }
}

.icon--mail {
  width: pxToRem(16);
  height: pxToRem(12);
}

.icon--phone {
  width: pxToRem(10);
  height: pxToRem(16);
}
