.newsletter {
  display: block;
  text-align: center;
  margin: 0 auto;
  &__header {
    font-size: pxToRem(14);
    line-height: pxToRem(16);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor("footer-address");
    margin: 20px auto;
  }

  &__input {
    width: 450px;
    height: 50px;
    border: 1px solid getColor("newsletter-border");
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: getColor("newsletter-mail");
    padding: 15px;
    @include transition(border);

    &:active,
    &:focus {
      border: 1px solid getColor("footer-address-links-highlight");
      outline: none;
    }
  }
  &__icon {
    width: 24px;
    height: 24px;
    fill: getColor("newsletter-button-text");
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
  }
  &__btn {
    width: 200px;
    height: 50px;
    margin: 20px auto;
    color: getColor("newsletter-button-text");
    background: getColor("newsletter-button");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    @include text(700);
    font-size: 1rem;
    line-height: 1.875rem;
    letter-spacing: 0.06em;
    border: none;
    padding: 0 28px 0 42px;
    position: relative;
    text-align: left;
    @include transition(box-shadow);
    display: inline-block;
  }
}

@media screen and (min-width: 320px) and (max-width: 460px) {
  .newsletter {
    &__input {
      width: 280px;
    }
  }
}

// MEDIA FOR TABLET

@media screen and (min-width: 768px) {
  .newsletter {
    clear: both;
    width: 450px;
    height: 156px;
    padding-top: 35px;
  }
}

// MEDIA FOR DESKTOP

@media screen and (min-width: 1200px) {
  .newsletter {
    float: left;
    margin: -140px 0 0 610px;
    width: 570px;
    height: 86px;
    padding: 0;
    &__header {
      text-align: left;
      margin-bottom: 0;
    }

    &__input {
      width: 358px;
      height: 50px;
    }

    &__btn {
      margin-left: 6px;
    }
  }
}
