.social-links {
  max-width: 206px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;

  &__box {
    width: pxToRem(44);
    height: pxToRem(44);
    background-color: inherit;
    border-radius: 50%;
    @extend %setFlex;
    fill: getColor('icon');
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: getColor("icon-highlight-background");
      & .social-links__use {
        fill: getColor("icon-highlight");
      }
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
  &__use {
    fill: getColor("icon");
  }
}
