.social-links {
  max-width: 206px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;

  &__box {
    width: pxToRem(44);
    height: pxToRem(44);
    background-color: inherit;
    border-radius: 50%;
    @extend %setFlex;
    fill: getColor('icon');
    @include transition(background-color);
    &:hover {
      background-color: getColor("icon-highlight-background");
      & .social-links__use {
        fill: getColor("icon-highlight");
      }
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
    @include transition(fill);
  }
  &__use {
    fill: getColor("icon");
  }
}

@media screen and (max-width: 767px) {
  .social-links {
   padding-bottom: 20px;
  }
  
  }