.body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: getColor("body-base-color");
  font-size: $basic-font-size;
  position: relative;
}

.container {
  max-width: 450px;
  margin: 0 auto;
  &__menu {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
  }
}

.section {
  padding: 60px 0;
}

// MEDIA FOR TABLET

@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
    &__menu {
      display: flex;
    }
  }
}

// MEDIA FOR DESKTOP

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .section {
    padding: 94px 0;
  }
}
