@mixin text($font-weight) {
  font-family: $basic-font-family;
  font-style: normal;
  font-weight: $font-weight;
}

@mixin transition($transition-property) {
  transition-property: $transition-property;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

%setFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

