.filters {
  @extend %setFlex;
  &__btn {
    @include text(500);
    background: getColor("filters-button-background");
    border-radius: pxToRem(4);
    font-size: pxToRem(16);
    line-height: pxToRem(26);
    text-align: center;
    letter-spacing: 0.03em;
    color: getColor("filters-button-text");
    padding: 5px 25px;
    margin: 4px;
    border: none;
    cursor: pointer;
    transition: box-shadow, color,
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      background: getColor("filters-button-highlight-background");
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      color: getColor("filters-button-highlight-text");
    }
  }
}
