.project {
  margin: 0 auto;
  &__box {
    width: 450px;
    height: 294px;
    overflow: hidden;
    position: relative;
  }

  &__image {
    width: 450px;
    height: 294px;
    display: inline-block;
  }

  &__overlay {
    width: 450px;
    height: 294px;
    background-color: getColor("projects-overlay-background");
    @extend %setFlex;
    position: absolute;
    top: 0;
    left: 0;
    transform: translatey(100%);
    @include transition(transform);
  }

  &__description {
    @include text(400);
    width: 402px;
    height: 140px;
    letter-spacing: 0.03em;
    font-size: pxToRem(18);
    line-height: pxToRem(28);
    color: getColor("projects-overlay-text");
  }

  &__figcaption {
    height: 95px;
    font-size: pxToRem(16);
    line-height: pxToRem(30);
    letter-spacing: 0.03em;
    color: getColor("projects-text");
    padding: 20px 24px;
  }

  &__header {
    @include text(700);
    font-size: pxToRem(18);
    line-height: pxToRem(36);
    letter-spacing: 0.06em;
    color: getColor("projects-heading");
    margin: 0 0 10px 0;
  }
}

// MEDIA FOR TABLET

@media screen and (min-width: 768px) {
  .project {
    &__image {
      width: 354px;
      height: 294px;
    }

    &__overlay {
      width: 354px;
      height: 294px;
    }

    &__description {
      width: 306px;
      height: 196px;
    }
  }
}

// MEDIA FOR DESKTOP

@media screen and (min-width: 1200px) {
  .project {
    &__image {
      width: 370px;
      height: 294px;
    }

    &__overlay {
      width: 370px;
      height: 294px;
    }

    &__description {
      width: 301px;
    }
  }
}
