.projects {
  margin-top: -70px;
  margin-bottom: -20px;
}

.project-grid {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    float: left;
    max-width: calc(100% - 30px);
    background: getColor("projects-background");
    border: 1px solid getColor("projects-border");

    @include transition(box-shadow);
    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      cursor: pointer;

      & .project__overlay {
        transform: translatey(0);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .project-grid {
    margin-top: -20px;

    &__item {
      margin: 10px auto;
    }
  }
}

// MEDIA FOR TABLET

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects {
    margin-top: -120px;
    margin-bottom: -30px;
  }

  .project-grid {
    justify-content: space-around;

    &__item {
      width: 354px;
      height: 404px;
      margin-top: 20px;

      &:nth-child(-n + 2) {
        height: 440px;
      }

      &:last-child {
        margin-left: 15px;
        margin-right: auto;
      }
    }
  }
}

// MEDIA FOR DESKTOP

@media screen and (min-width: 1200px) {
  .projects {
    margin-bottom: -40px;
  }

  .project-grid {
    justify-content: space-around;
    margin-top: -80px;

    &__item {
      width: 370px;
      height: 404px;
      margin-bottom: 20px;
    }
  }
}
