.project {
  margin: 0 auto;
  &__box {
    width: 370px;
    height: 294px;
    overflow: hidden;
    position: relative;
  }

  &__image {
    width: 370px;
    height: 294px;
    display: inline-block;
  }

  &__overlay {
    width: 370px;
    height: 294px;
    background-color: getColor("projects-overlay-background");
    @extend %setFlex;
    position: absolute;
    top: 0;
    left: 0;
    transform: translatey(100%);
    @include transition(transform);
  }

  &__description {
    @include text(400);
    width: 301px;
    height: 196px;
    letter-spacing: 0.03em;
    font-size: pxToRem(18);
    line-height: pxToRem(28);
    color: getColor("projects-overlay-text");
  }

  &__figcaption {
    width: 322px;
    height: 95px;
    font-size: pxToRem(16);
    line-height: pxToRem(30);
    letter-spacing: 0.03em;
    color: getColor("projects-text");
    margin: 15px auto 0 auto;
  }

  &__header {
    @include text(700);
    font-size: pxToRem(18);
    line-height: pxToRem(36);
    letter-spacing: 0.06em;
    color: getColor("projects-heading");
    margin: 0 0 10px 0;
  }
}
