.projects {
  margin-top: -140px;
}

.project-grid {
  list-style: none;
  padding: 0;
  margin-left: -20px;
  margin-top: -20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__item {
    float: left;
    width: 370px;
    height: 404px;
    background: getColor('projects-background');
    border: 1px solid getColor('projects-border');
    margin-left: 20px;
    margin-top: 20px;
    @include transition(box-shadow);
    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      cursor: pointer;
      & .project__overlay {
        transform: translatey(0);
      }
    }
  }
}
