/* MENU */
$body-base-color: #000000;
$menu-logo-1-part: #2196f3;
$menu-logo-2-part: #000000;
$menu-nav: #212121;
$menu-contact-links: #757575;
$menu-highlight: #2196f3;
$menu-border: #ececec;
$heading: #212121;
